# Gradle
.gradle/
build/
out/

# Eclipse
.settings/
.classpath
.project
bin/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# Minecraft
run/
logs/

# OS files
.DS_Store
Thumbs.db

# Java
*.class
*.jar
*.war
